
html {font-size: 0.938em;}

body {
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	background-color: #fafafa;
}

::-moz-selection{
	color: #fafafa;
	background: #ff9166;
}
::selection{
	color: #fafafa;
	background: #ff9166;
}


h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}
